node_modules/
dist/
.env*
*.local

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
pubsub-debug.log
auth-debug.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo
service.account.json